<!-- Header -->
<header class="site-header" id="header">
    <div class="container header-container">
        <a href="index.html" class="logo">
            <img src="assets/images/shiv_shakti_logo.png" alt="SHIV SHAKTI WATER EQUIPMENT PVT. LTD. Logo">
        </a>
        <nav class="main-nav" id="mainNav">
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li class="has-dropdown">
                    <a href="products.html">Our Products <span class="arrow">&#9660;</span></a>
                    <ul class="dropdown">
                        <li class="has-subdropdown">
                            <a href="products.html#cat-bottle-filling">Bottle Filling Machines <span
                                    class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
    <li><a href="water-filling-machine.html">Water Filling Machine</a></li>
    <li><a href="juice-filling-machine.html">Juice Filling Machine</a></li>
    <li><a href="carbonated-drink-filling-machine.html">Carbonated Drink (CSD) Filling Machine</a></li>
    <li><a href="beer-liquor-filling-machine.html">Beer &amp; Liquor Filling Machine</a></li>
    <li><a href="milk-dairy-filling-machine.html">Milk &amp; Dairy Filling Machine</a></li>
    <li><a href="edible-oil-filling-machine.html">Edible Oil Filling Machine</a></li>
    <li><a href="lube-oil-filling-machine.html">Lube Oil Filling Machine</a></li>
    <li><a href="chemical-pesticide-filling-machine.html">Chemical &amp; Pesticide Filling Machine</a></li>
</ul>
                        </li>
                        <li class="has-subdropdown">
                            <a href="products.html#cat-labeling">Labeling Machines <span
                                    class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="sticker-labelling-machine.html">Automatic Sticker Labeling Machine</a></li>

                            </ul>
                        </li>
                        <li class="has-subdropdown">
                            <a href="products.html#cat-shrink">Shrink Wrapping <span class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="fully-automatic-shrink-wrapping-machine.html">Fully Automatic Wrapping Machine</a>
                                </li>
                                <li><a href="semi-automatic-shrink-wrapping-machine.html">Semi Automatic Wrapping Machine</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-subdropdown">
                            <a href="products.html#cat-ro-plant">R.O Plant <span class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="r-o-plant.html">Industrial S.S R.O Plant</a></li>
                            </ul>
                        </li>
                        <li class="has-subdropdown">
                            <a href="products.html#cat-blow">Blow Molding <span class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="fully-automatic-blow-moulding-machine.html">Fully Auto Blow Moulding Machine</a>
                                </li>
                                <li><a href="semi-automatic-blow-moulding-machine.html">Semi Auto Blow Moulding Machine</a></li>
                            </ul>
                        </li>
                        <li class="has-subdropdown">
                            <a href="products.html#cat-batch-coding">Batch Coding <span class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="inkjet-batch-coding.html">Inkjet Batch Coding</a></li>
                            </ul>
                        </li>

                        <li class="has-subdropdown">
                            <a href="products.html#cat-lab">Lab Equipment <span class="arrow">&#9654;</span></a>
                            <ul class="subdropdown">
                                <li><a href="chemical-lab.html">Chemical Lab</a></li>
                                <li><a href="micro-biology-lab.html">Micro-Biology Lab</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="video.html">Video</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <div class="header-actions">
                <a href="index.html#quote" class="btn btn-primary nav-cta">Request A Quote</a>
                <a href="index.html#brochure" class="btn btn-outline nav-cta secondary-cta">Download Broucher</a>
            </div>
        </nav>
        <button class="mobile-menu-toggle" id="mobileToggle" aria-label="Toggle Menu">
            <span class="hamburger"></span>
        </button>
    </div>
</header>


